{% extends "../base.html" %} {% block content %}


<div class="mt-5">
    <div class="card text-center" style="width: 30%; margin: auto">
        <div class="card-body">
            <h2 class="card-title">Logged out!</h2>
                            
            <div class="col-12 d-grid mt-3" style="text-align: center">
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">Click here to login again.</a>
            </div>
                       
        </div>
    </div>
</div>


{% endblock content %}
